<!DOCTYPE html>
<html lang="en" ng-app="maksoodMohiuddin">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="consultancy, agency, strategy, apps, design, development, mobile, web, business apps, iOS, iPhone, Android">
    <title> Maksood Mohiuddin | Technology and Travel </title>
    @Styles.Render("~/thirdpartycss")
    @Styles.Render("~/appcss")    
    <base href="/">
</head>
<body>   

    <div class="container body-content">
        <div ui-view="main" ng-cloak></div>
        @RenderBody()
    </div>

    @Scripts.Render("~/thirdpartyjs")
    @Scripts.Render("~/appjs")
    
</body>
</html>

