<!DOCTYPE html>
<html ng-app="maksoodMohiuddin" ng-strict-di class="HtmlBackground">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name='keywords' content='maksood mohiuddin' />
        <title> Maksood Mohiuddin </title>       
        <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        @* Google Analytics *@
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-78749903-1', 'auto');
        ga('send', 'pageview');

        </script>

        @Styles.Render("~/thirdpartycss")
        @Styles.Render("~/appcss")
        @Scripts.Render("~/thirdpartyjs")
        @Scripts.Render("~/appjs")

        <base href="/home">

        

    </head>

    <body>
        <div id="main">          
            @* Each page is designed to be self-contained deep linked and have its own header *@
            <div id="main_content">
                @* Angular ui-view directive tells $state where to place templates, "main" is one name assigned to all views e.g. see refer.js -->
                 <!-- ng-cloak prevents display of raw html*@
                <div ui-view="main" ng-cloak autoscroll="true"></div>
                @RenderBody()             
            </div>    
                     
            <footer>
                <section class="footer">
                    <div>    
                        <nav>
                            <h1 class="frontload">Site Map</h1>
                            <ul ng-show="!isMobile">
                                <li>
                                    <a ui-sref="home">Home</a>
                                </li>
                                <li>
                                    <a ui-sref="experience">Experience</a>
                                </li>
                                <li>
                                    <a ui-sref="education">Education</a>
                                </li>
                                <li>
                                    <a ui-sref="travel">Travel</a>
                                </li>
                                <li>
                                    <a ui-sref="aydin">Aydin</a>
                                </li>
                                <li>
                                    <a ui-sref="resume">Resume</a>
                                </li>
                            </ul>
                            <ul ng-show="isMobile">
                                <li>
                                    <button class="navigation" ng-click="home()">Home</button>
                                </li>
                                <li>
                                    <button class="navigation" ng-click="experience()">Experience</button>
                                </li>
                                <li>
                                    <button class="navigation" ng-click="education()">Education</button>
                                </li>
                                <li>
                                    <button class="navigation" ng-click="travel()">Travel</button>
                                </li>
                                <li>
                                    <button class="navigation" ng-click="aydin()">Aydin</button>
                                </li>
                                <li>
                                    <button class="navigation" ng-click="resume()">Resume</button>
                                </li>
                            </ul>
                        </nav>                        
                    </div>
                    <div>
                        <p>
                            &copy;2016 - Maksood Mohiuddin.
                            All trademarks, trade names, or logos mentioned or used are the property of their respective owners.
                            Everything else (including but not limited to algorithm, text, graphics, artwork, audio, video, and other media formats) available on this site are property of Maksood Mohiuddin.
                        </p>
                    </div>
                </section>
            </footer>      

        </div>
   </body>
</html>

